In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Set random seed for reproducibility
np.random.seed(42)

# Generate dummy data
subjects = ['A', 'B', 'C', 'D']
data = {
    'subject': np.random.choice(subjects, 10),
    'start': np.random.randint(1, 50, 10),
    'end': lambda x: x['start'] + np.random.randint(5, 20, 10),
    'category': np.random.choice(['low', 'high'], 10)
}
df = pd.DataFrame(data)
df['end'] = df['start'] + np.random.randint(5, 20, 10)  # Ensure end > start

# Display the table
print("Dummy Dataset:")
display(df)

Dummy Dataset:

  subject  start  end category
0       C     19   24      low
1       D     23   39     high
2       A     11   25     high
3       C     11   21     high
4       C     24   41     high
5       D     36   52     high
6       A     40   53     high
7       A     24   29     high
8       C      3   18     high
9       B     22   37      low